<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="30 seconds">

    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!--<appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">-->
    <!--<file>/var/vcap/sys/log/op-pinpoint-java-broker/op-pinpoint-java-broker.log</file>-->
    <!--<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">-->
    <!--<fileNamePattern>op-pinpoint-java-broker.%d{yyyy-MM-dd}.log</fileNamePattern>-->
    <!--<maxHistory>30</maxHistory>-->
    <!--</rollingPolicy>-->
    <!--<encoder>-->
    <!--<pattern>%-4relative [%thread] %-5level %logger{35} - %msg%n</pattern>-->
    <!--</encoder>-->
    <!--</appender>-->

    <root level="INFO">
        <appender-ref ref="console"/>
        <!--<appender-ref ref="file"/>-->
    </root>
</configuration>