<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.openpaas.paasta.portal.api.mapper.portal.QuestionMapper">


    <select id="selectOne" resultType="org.openpaas.paasta.portal.api.model.Question" parameterType="String">
        SELECT
        no AS no,
        title AS title,
        user_id AS userId,
        content AS content,
        status AS status,
        classification AS classification,
        cell_phone AS cellPhone,
        file_name AS fileName,
        file_path AS filePath,
        created AT TIME ZONE 'Asia/Seoul' AS created,
        lastmodified AT TIME ZONE 'Asia/Seoul' AS lastModified
        FROM user_detail
        WHERE user_id = #{userId}
    </select>

    <select id="getMyQuestions" resultType="org.openpaas.paasta.portal.api.model.Question" parameterType="String">
        SELECT
        no AS no,
        title AS title,
        user_id AS userId,
        content AS content,
        status AS status,
        created AS created,
        lastmodified AS lastModified
        FROM question
        WHERE user_id = #{userId}
    </select>

    <!-- parameter 정의는 Mapper 클레스에서 @Param 을 이용해서 정의함.-->
    <update id="updateMyQuestion" >
        UPDATE question SET
        title = #{question.title},
        content = #{question.status},
        classification = #{question.classification},
        cell_phone = #{question.cellPhone},
        file_name = #{question.fileName},
        file_path = #{question.filePath},
        status = #{question.status},
        lastmodified = now()
        WHERE no = #{question.no}
    </update>

    <insert id="insertQuestion" parameterType="org.openpaas.paasta.portal.api.model.Question"
            useGeneratedKeys="true" keyProperty="question.no">
      INSERT INTO question (
          title,
          user_id,
          content,
          classification,
          cell_phone,
          file_name,
          file_path,
          status
      )
      VALUES (
          #{question.title},
          #{question.userId},
          #{question.content},
          #{question.classification},
          #{question.cellPhone},
          #{question.fileName},
          #{question.filePath},
          #{question.status}
      );
    </insert>

    <delete id="deleteMyQuestion" parameterType="org.openpaas.paasta.portal.api.model.Question">
        DELETE FROM question
        WHERE no = #{question.no}
    </delete>

</mapper>

