<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.openpaas.paasta.portal.api.mapper.portal.WebIdeUserMapper">

    <select id="getUser" resultType="org.openpaas.paasta.portal.api.model.WebIdeUser">
        SELECT
              user_id               "userId"
            , org_name              "orgName"
            , url                   "url"
            , use_yn                "useYn"
            , created_at            "createdAt"
            , updated_at            "updatedAt"
        FROM web_ide_user
        WHERE  org_name = #{orgName}
    </select>


    <insert id="insertUser">
       INSERT INTO web_ide_user(
                  user_id
                , org_name
                , created_at
                )
        VALUES (
                 #{userId}
                , #{orgName}
                , now()
      );

    </insert>


    <delete id="deleteUser">
        DELETE FROM web_ide_user
        WHERE org_name = #{orgName}
     </delete>


    <update id="updateUser">
        UPDATE web_ide_user
        SET updated_at = now()
        <if test="url != null">
            ,url = #{url}
        </if>
        <if test="useYn != '' and useYn != null">
            ,use_yn = #{useYn}
        </if>

        WHERE user_id = #{userId} and
        org_name = #{orgName}
    </update>

    <select id="getList" resultType="org.openpaas.paasta.portal.api.model.WebIdeUser">
        SELECT
            user_id               "userId"
            , org_name              "orgName"
            , url                   "url"
            , use_yn                "useYn"
            , created_at            "createdAt"
            , updated_at            "updatedAt"
        FROM web_ide_user
        ORDER BY use_yn desc, url
    </select>

</mapper>

