/*REX*/

.custom_cursor_pointer:hover {
	cursor: pointer;
}
span.user_img {
	background: rgba(0,0,0,.54);
	bottom: 0;
	color: #fff;
	font-size: 9px;
	font-weight: bold;
	left: 0px;
	position: absolute;
	padding: 7px 0px;
	text-align: center;
	width: 96px;
}
div.user_img {
	background-size: 96px 96px;
	border: none;
	vertical-align:top;
	height:96px;
	width:96px;
}
a.user_img {
	border-radius: 50%;
	overflow: hidden;
	margin-right: 20px;
	position: relative;
	display: inline-block;
	vertical-align: top;

}

img.circle {
	border-radius: 70px;
	-moz-border-radius: 70px;
	-khtml-border-radius: 70px;
	-webkit-border-radius: 70px;
}
/*REX*/
#main {
	height: 100%;
}

.custom_catalog_btn {
	display: block;
	position: relative;
	background: #f9a11b;
	border-top: 1px solid #3d4553;
	padding: 0;
	font-family: 'NanumGothicWeb';
	font-weight: bold;
}

.custom_catalog_btn span {
	line-height: 20px;
	display: block;
	color: #fff;
	height: 38px;
	font-size: 16px;
	font-family: 'NanumGothicWeb';
	font-weight: bold;
}

.custom_catalog_btn span a {
	text-decoration: none;
	color: #fff;
	padding: 9px 20px;
	height: 38px;
	display: block;
}

.custom_catalog_btn span a:hover {
	background-color: #ec8e00;
	color: #3d4553;
}

.custom_left_catalog_list {
	position: relative;
	display: block;
	background: #4b5464;
	list-style: none;
	padding: 0;
	margin: 0;
}

.custom_left_catalog_list li {
	font-size: 16px;
	font-family: 'NanumGothicWeb';
	font-weight: bold;
	line-height: 18px;
	color: #fff;
	border-bottom: 1px solid #282b3b;
    background:#383a48 url(../images/groupsmenu01.png) 26px 16px no-repeat;
}

.custom_left_catalog_list li span {
	display: block;
	position: relative;
	margin: 0;
	height: 36px;
}

.custom_left_catalog_list li span a {
	color: #fff;
	text-decoration: none;
	padding: 8px 40px;
	display: block;
	position: relative;
	margin: 0;
	height: 36px;
	cursor: pointer;
}

.custom_left_catalog_list li span a:hover {
	color: #f9a11b;
	padding: 8px 40px;
	display: block;
	position: relative;
	margin: 0;
	height: 36px;
	cursor: pointer;
	background:#333333 url(../images/groupsmenu01.png) 26px 16px no-repeat;
}

.content-box .custom_cn_box {
	display: block;
	position: relative;
	padding: 10px;
	background: url(../images/groupmenu01.png) 95% 14px no-repeat;
}

.content-box .custom_cn_box:after {
	display: block;
	clear: both;
	content: ''
}

.content-box .custom_cn_box:hover {
	display: block;
	position: relative;
	cursor: pointer;
	background-color: #f8f8f8;
}

.content-box .custom_cn_box .custom_image_box {
	display: block;
	width: 50px;
	height: 50px;
	float: left;
	margin: 0 20px 0 0;
	padding: 0;
}

.content-box .custom_cn_box .list {
	display: block;
	position: relative;
	float: left;
	padding: 0;
	margin: 0;
	width: 90%;
}

.content-box .custom_cn_box .list ul {
	list-style: none;
	position: relative;
	padding: 0;
	width: 100%
}

.content-box .custom_cn_box .list ul li {
	font-size: 16px;
	line-height: 16px;
	margin: 3px 0 3px
}

.content-box .custom_cn_box .list ul li:after {
	display: block;
	clear: both;
	content: ''
}

.content-box .custom_cn_box .list ul li span.tt {
	display: block;
	position: relative;
	float: left;
	padding: 0 10px 0 0;
	font-family: 'NanumGothicBoldWeb';
	font-weight: bold;
	font-size: 14px
}

.content-box .custom_cn_box:hover .list ul li span.tt a {
	display: block;
	position: relative;
	float: left;
	padding: 0 10px 0 0;
	font-family: 'NanumGothicBoldWeb';
	font-weight: bold;
	font-size: 16px;
	color: #f9a11b;
}

.content-box .custom_cn_box .list ul li span.tt a:hover {
	display: block;
	position: relative;
	text-decoration: none;
}

.content-box .custom_cn_box .list ul li span.txt {
	position: relative;
	float: left;
	padding: 0 10px 0 0;
	font-family: 'NanumGothicBoldWeb';
	font-weight: normal;
	font-size: 16px;
	display: inline-block;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	width: 100%;
	height: 20px;
}

.content-box .custom_cn_box span.glyphicon {
	height: 36px;
	line-height: 36px;
}

.content-box .custom_cn_box:hover span.glyphicon {
	height: 36px;
	line-height: 36px;
	color: #f9a11b;
}

.content-box .custom_cn_box2 {
    display: block;
    position: relative;
    padding: 10px;
    background: url(../images/groupmenu01.png) 95% 14px no-repeat;
}

.content-box .custom_cn_box2:after {
    display: block;
    clear: both;
    content: ''
}

.content-box .custom_cn_box2 .custom_image_box {
    display: block;
    width: 50px;
    height: 50px;
    float: left;
    margin: 0 20px 0 0;
    padding: 0;
}

.content-box .custom_cn_box2 .list {
    display: block;
    position: relative;
    float: left;
    padding: 0;
    margin: 0;
	width: 90%;
}

.content-box .custom_cn_box2 .list ul {
    list-style: none;
    position: relative;
    padding: 0;
}

.content-box .custom_cn_box2 .list ul li {
    font-size: 16px;
    line-height: 16px;
    margin: 3px 0 3px
}

.content-box .custom_cn_box2 .list ul li span.tt {
    display: block;
    position: relative;
    float: left;
    padding: 0 10px 0 0;
    font-family: 'NanumGothicBoldWeb';
    font-weight: bold;
    font-size: 14px
}

.content-box .custom_cn_box2 .list ul li span.txt {
    position: relative;
    float: left;
    padding: 3px 10px 0 0;
    font-family: 'NanumGothicBoldWeb';
    font-weight: normal;
    font-size: 16px;
	display: inline-block;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	width: 90%;
	height: 20px;
}

.content-box .custom_cn_box2 .list ul li span.txt2 {
    display: block;
    position: relative;
    float: left;
    padding: 3px 10px 0 0;
    font-family: 'NanumGothicBoldWeb';
    font-weight: normal;
    font-size: 16px;
}

.content-box .custom_cn_box2 span.glyphicon {
    height: 36px;
    line-height: 36px;
}

.content-box .custom_ttgroup {
	display: block;
	position: relative;
	padding: 0;
	margin: 0;
}

.content-box .custom_ttgroup:after {
	display: block;
	clear: both;
	content: ''
}

.content-box .custom_ttgroup h2 {
	padding: 0 0 10px 0;
	margin: 0;
	font-size: 18px;
	color: #000;
	display: block;
	position: relative;
	float: left;
	font-family: 'NanumGothicBoldWeb';
	font-weight: normal;
}

.form-group .custom-search-form {
	margin-top: 20px;
}

.form-control .custom-input-text {
	height: 42px;
}

.has-feedback label ~ .custom-form-control-feedback {
	position: absolute;
	top: 5px;
	right: 15px;
}
.has-success .custom-form-control-feedback {
	color: #3c763d;
}

.has-warning .custom-form-control-feedback {
	color: #8a6d3b;
}

.has-error .custom-form-control-feedback {
	color: #a94442;
}

.custom-tab-title-box {
	border: 1px solid #dddddd;
	border-bottom: none;
	margin: 0;
	margin-top: -1px;
	padding: 15px;
	font-size: 15px;
	font-weight: bold;
}

.content-box .modify_custom_cn_box {
	display: block;
	position: relative;
	width: 200px;
	height: 200px;
	float: left;
	margin: 0 40px 20px 0;
	padding: 20px 0;
	border: 4px solid #eeeeee;
	border-radius: 10px;
}

.content-box .modify_custom_cn_box:after {
	display: block;
	clear: both;
	content: ''
}

.content-box .modify_custom_cn_box:hover {
	display: block;
	position: relative;
	cursor: pointer;
	background-color: #444444;
	color: #ffffff;
	border: 4px solid #f9a11b;
	border-radius: 10px;
}

.content-box .modify_custom_cn_box .modify_custom_image_box {
	display: block;
	position: relative;
	width: 102px;
	height: 102px;
	border: 1px solid #eeeeee;
	border-radius: 2px;
	margin: 0 auto;
}

.content-box .modify_custom_cn_box2 {
	display: block;
	position: relative;
	width: 130px;
	height: 130px;
	float: left;
	margin: 0 30px 20px 0;
	padding: 10px;
	border: 4px solid #eeeeee;
	border-radius: 10px;
}

.content-box .modify_custom_cn_box2:after {
	display: block;
	clear: both;
	content: ''
}

.content-box .modify_custom_cn_box2:hover {
	display: block;
	position: relative;
	cursor: pointer;
	background-color: #444444;
	color: #ffffff;
	border: 4px solid #f9a11b;
	border-radius: 10px;
}

.content-box .modify_custom_cn_box2 .modify_custom_image_box2 {
	display: block;
	position: relative;
	width: 102px;
	height: 102px;
	border: 1px solid #eeeeee;
	border-radius: 2px;
	margin: 0 auto;
}

.content-box .custom_list {
	display: block;
	position: relative;
	float: left;
	padding: 0;
	margin: 0;
	width: 80%;
}

.content-box .custom_list ul {
	list-style: none;
	position: relative;
	padding: 0;
	width: 100%
}

.content-box .custom_list ul li {
	font-size: 16px;
	line-height: 16px;
	margin: 3px 0 3px
}

.content-box .custom_list ul li:after {
	display: block;
	clear: both;
	content: ''
}

.content-box .custom_list ul li span.tt {
	display: block;
	position: relative;
	float: left;
	padding: 0 10px 0 0;
	font-family: 'NanumGothicBoldWeb';
	font-weight: bold;
	font-size: 14px
}

.content-box .custom_over .list ul li span.tt a {
	display: block;
	position: relative;
	float: left;
	padding: 0 10px 0 0;
	font-family: 'NanumGothicBoldWeb';
	font-weight: bold;
	font-size: 16px;
	color: #f9a11b;
}

.content-box .custom_list ul li span.tt a:hover {
	display: block;
	position: relative;
	text-decoration: none;
}

.content-box .custom_list ul li span.txt {
	position: relative;
	float: left;
	padding: 0 10px 0 0;
	font-family: 'NanumGothicBoldWeb';
	font-weight: normal;
	font-size: 16px;
	display: inline-block;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	width: 100%;
	height: 20px;
}

.content-box .modify_custom_ttgroup {
	display: block;
	position: relative;
	padding: 0 0 0 10px;
	margin: 0;
	width: 100%;
	float: left;
	background: #f5f5f5;
	border-radius: 4px;
}

.content-box .modify_custom_ttgroup:after {
	display: block;
	clear: both;
	content: ''
}

.content-box .modify_custom_ttgroup h2 {
	padding: 0 0 10px 0;
	margin: 0;
	font-size: 18px;
	color: #000;
	display: block;
	position: relative;
	float: left;
	font-family: 'NanumGothicBoldWeb';
	font-weight: normal;
}

.modify_form_control {
	height: 36px;
	font-size: 16px;
}

.modify_h4 {
	font-size: 20px;
}

.modify_span_size {
	font-size: 17px;
}

.modify_panel_title {
	margin-top: 0;
	margin-bottom: 0;
	font-size: 18px;
	color: inherit;
	line-height: 150%;
}

.custom_control_label {
	font-size: 17px;
}

.custom_color_warning {
    color: orangered;
}

.custom_color_white {
    color: #ffffff;
}









	/* heading tag */
h1,h2,h3{padding:0;margin:0;background:transparent;font-size:12px;line-height:15px}
h1{font-size:18px;line-height:18px}
h2{padding:0 0 10px 20px;color:#223e9a;line-height:15px;font-size:12px;font-family:'NanumGothicBoldWeb';font-weight:bold}
h3{margin:15px 0 0;padding:0 0 0 17px;color:#4d4d4d;line-height:15px;font-size:12px;font-weight:bold}
.tt{display:block;margin:0;padding:0 0 17px;color:#4d4d4d;font-size:12px;line-height:16px}
.point{margin:0;padding:1px 0 0 21px;color:#00558f;line-height:15px;font-size:12px}
h1.tt{font-size:18px;line-height:18px;display:block;margin:0;padding:8px 0 9px;color:#4d4d4d;font-weight:bold}
h2.htt{font-size:14px;line-height:16px;display:block;margin:0;padding:8px 0 9px;color:#4d4d4d;font-weight:bold}

h2.stitle{font-size:14px;font-weight:bold;color:#00558f;line-height:15px;padding:2px 0 ;margin:0}
/*width:*/
.w100{width:100px !important;}
.w50{width:50% !important;}
.w80px{width:80px !important;}
.w500px{width:355px !important}

/*input*/
.w200px{width:200px !important;}
.w230px{width:230px !important;}
.w270px{width:270px !important;}
/*margin*/
.mt0{margin-top:0px !important}
.mt3{margin-top:3px !important}
.mt5{margin-top:5px !important}
.mt10{margin-top:10px !important}
.mt15{margin-top:15px !important}
.mt20{margin-top:20px !important}
.mt30{margin-top:30px !important}
.mb0{margin-bottom:0px !important}
.mb5{margin-bottom:5px !important}
.mb10{margin-bottom:10px !important}
.mb15{margin-bottom:15px !important}
.mb20{margin-bottom:20px !important}
.mb30{margin-bottom:30px !important}
.mt-3{margin-top:-3px !important}

.ml3{margin-left:3px !important}
.ml5{margin-left:5px !important}
.ml10{margin-left:10px !important}
.ml20{margin-left:20px !important}
.ml30{margin-left:30px !important}
.ml40{margin-left:40px !important}
.ml50{margin-left:50px !important}
.ml60{margin-left:60px !important}
.ml70{margin-left:70px !important}
.ml80{margin-left:80px !important}
.ml90{margin-left:90px !important}
.ml100{margin-left:100px !important}

.mr3{margin-right:3px !important}
.mr5{margin-right:5px !important}
.mr10{margin-right:10px !important}
.mr15{margin-right:15px !important}
.mr20{margin-right:20px !important}
.mr30{margin-right:30px !important}
.mr40{margin-right:40px !important}
.mr50{margin-right:50px !important}
.mr60{margin-right:60px !important}
.mr70{margin-right:70px !important}
.mr80{margin-right:80px !important}
/*padding*/
.pa10 {padding:10px !important}
.pt0{padding-top:0px !important}
.pt5{padding-top:5px !important}
.pt10{padding-top:10px !important}
.pt15{padding-top:15px !important}
.pt20{padding-top:20px !important}
.pb0{padding-bottom:0px !important}
.pb5{padding-bottom:5px !important}
.pb10{padding-bottom:10px !important}
.pb15{padding-bottom:15px !important}
.pb20{padding-bottom:20px !important}
.pd0{padding:0px !important}
.pd10{padding:10px !important}
.pd20{padding:20px !important}
.pr0{padding-right:0 !important}
.pl0{padding-left:0 !important}
.pl5{padding-left:5px !important}
.pl10{padding-left:10px !important}

/* common */
.dpb{display:block !important}
.dpi{display:inline !important}
.dpn{display:none !important}
.psa{z-index:100;position:absolute !important}
.psar{z-index:100;position:absolute !important;right:0 !important}
.psr{position:relative !important}

.tal{text-align:left !important}
.tar{text-align:right !important}
.tac{text-align:center !important}

.vam {vertical-align:middle}

/*text line height style */
.lh01 {line-height:1.5em;}
.lh02 {line-height:1.7em;}
.lh03 {line-height:2.0em;}
.lh04 {line-height:2.3em;}
.lh05 {line-height:2.5em;}

.tdu{text-decoration:underline !important}
.tdn{text-decoration:none !important}

.fwn{font-weight:normal !important}
.fwb{font-weight:bold !important}


/*float*/
.fl{display:inline;float:left}
.fr{display:inline;float:right}

.cl_l{clear:left;}
.cl_r{clear:right;}
.cl_b{clear:both;}

.dpb{display:block !important}
.dpi{display:inline !important}

.psr{position:relative !important}
.overflow{overflow:auto !important}
.clearfix{display:block;clear:both;content:'';}

.userinfo{display:block;position:relative;padding:0 0 20px 0;margin:0;background:#323842;text-align:center;}
.userinfo img{width:76px;height:76px;padding:0;margin:15px 0;}
.userinfo .name{font-size:15px;color:#fff;line-height:16px;padding:3px 3px;text-align:center;}
.userinfo .mail{font-size:15px;color:#fff;line-height:16px;padding:3px 3px;text-align:center;}
/*조직생성*/
.group_btn{display:block;position:relative;background:#f9a11b;border-top:1px solid #3d4553;border-bottom:1px solid #3d4553;padding:0;text-align:center;font-family:'NanumGothicWeb';font-weight:bold;}
.group_btn span{line-height:20px;display:block;color:#fff;	height:38px;font-size:15px;font-family:'NanumGothicWeb';font-weight:bold;}
.group_btn span a{text-decoration:none;background:url(../images/groupic.png) 25% 15px no-repeat ;color:#fff;padding:9px 0;height:38px;display:block;}
.group_btn span a:hover{background:#ec8e00 url(../images/groupic.png) 25% 15px no-repeat ;color:#fff;}
.groupnew{position:relative;display:block;background:#4b5464;list-style:none;padding:0;margin:0}
.groupnew li{font-size:14px;font-family:'NanumGothicWeb';font-weight:bold;line-height:18px;color:#fff;background:url(../images/groupmenu01.png) 95% 14px no-repeat;border-bottom:1px solid #282b3b;}
.groupnew li span{display:block;position:relative;margin:0;height:36px;}
.groupnew li span a{color:#fff;text-decoration:none;padding:8px 10px;display:block;position:relative;margin:0;height:36px;}
.groupnew li span a:hover{color:#fff;padding:8px 10px;display:block;position:relative;margin:0;height:36px;background:#404a5b url(../images/groupmenu02.png) 95% 14px no-repeat;}

.left-currentorg{position:relative;display:block;background:#4b5464;list-style:none;padding:0;margin:0}
.left-currentorg li{font-size:16px;font-family:'NanumGothicWeb';font-weight:bold;line-height:18px;color:#fff;background:url(../images/groupmenu01.png) 95% 14px no-repeat;border-bottom:1px solid #282b3b;}
.left-currentorg li span{display:block;position:relative;margin:0;height:36px;}
.left-currentorg li span a{color:#fff;text-decoration:none;padding:8px 10px;display:block;position:relative;margin:0;height:36px;}
.left-currentorg li span a:hover{color:#fff;padding:8px 10px;display:block;position:relative;margin:0;height:36px;background:#404a5b url(../images/groupmenu02.png) 61% 17px no-repeat;}
.left-currentorg li span p{color:#fff;text-decoration:none;padding:8px 10px;display:block;position:relative;margin:0;height:36px;}
.left-currentorg li span p:hover{color:#f9a11b;padding:8px 10px;display:block;position:relative;margin:0;height:36px;background:#404a5b}


.smenu{display:block;position:relative;padding:0;margin:0;list-style:none}
.smenu li{line-height:16px;padding:5px 25px ;border-bottom:1px solid #282b3b;font-size:12px;color:#fff;background:#383a48 url(../images/groupsmenu01.png) 11px 10px no-repeat}
.smenu li a{ color:#fff;text-decoration:none;}
.smenu li a:hover{color:#f9a11b}

/*영역생성*/
.area_btn{display:block;position:relative;background:#f9a11b;border-top:1px solid #3d4553;border-bottom:1px solid #3d4553;padding:0;text-align:center;font-family:'NanumGothicWeb';font-weight:bold;margin:30px 0 0 0 ;}
.area_btn span{line-height:20px;display:block;color:#fff;	height:38px;font-size:15px;font-family:'NanumGothicWeb';font-weight:bold;}
.area_btn span a{text-decoration:none;background:url(../images/areaic.png) 25% 15px no-repeat ;color:#fff;padding:9px 0;height:38px;display:block;}
.area_btn span a:hover{background:#ec8e00 url(../images/areaic.png) 25% 15px no-repeat ;color:#fff;}
.arealist{position:relative;display:block;background:#4b5464;list-style:none;padding:0;margin:0}
.arealist li{font-size:16px;font-family:'NanumGothicWeb';font-weight:bold;line-height:18px;color:#fff;background:url(../images/groupmenu01.png) 95% 14px no-repeat;border-bottom:1px solid #282b3b;}
.arealist li span{display:block;position:relative;margin:0;height:36px;}
.arealist li span a{color:#fff;text-decoration:none;padding:8px 10px;display:block;position:relative;margin:0;height:36px;}
.arealist li span a:hover{color:#f9a11b;padding:8px 10px;display:block;position:relative;margin:0;height:36px;background: url(../images/groupmenu01.png) 95% 14px no-repeat;}

.left-spacelist{position:relative;display:block;background:#4b5464;list-style:none;padding:0;margin:0}
.left-spacelist li{font-size:16px;font-family:'NanumGothicWeb';font-weight:bold;line-height:18px;color:#fff;border-bottom:1px solid #282b3b;}
.left-spacelist li span{display:block;position:relative;margin:0;height:36px;}
.left-spacelist li span a{color:#fff;text-decoration:none;padding:8px 10px;display:block;position:relative;margin:0;height:36px;}
.left-spacelist li span a:hover{color:#f9a11b;padding:8px 10px;display:block;position:relative;margin:0;height:36px;background: url(../images/groupmenu01.png) 95% 14px no-repeat;}


/*영역버튼 클릭시 팝업*/
.area_pop{position:relative;padding:10px 0;margin:0;display:block;background:#30323a;text-align:center;}
.area_pop .form-inline{margin:0 auto}
.area_pop .errortxt{color:#ffffe9;line-height:15px;font-size:11px;padding:5px 0}


/*.input 에러 */
.has-error input{background:#f8e4e7;color:#333333;border:1px solid #d8d8d8}
.has-warning input{background:#FFFFF0;color:#333333;border:1px solid #d8d8d8}

/*저장버튼*/
.btn-save{color:#fff;background:#d8460d}
/*취소버튼*/
.btn-cancel{color:#fff;background:#727272}
/*유저프로바이디드 생성*/
.btn-createUserProvided{color:#fff;background:#faa619;}


/*삭제*/
.btn_del {color: #fff;background-color: #727272;border-color: #727272;padding:5px;width:30px;height:30px;}
.btn_del:hover,
.btn_del:focus,
.btn_del.focus,
.btn_del:active,
.btn_del.active {color: #fff;background-color: #faa619;border-color: #faa619;}
.btn_del:active,
.btn_del.active{background-image: none;}
/*영역확장*/
.btn_extend {color: #fff;background-color: #727272;border-color: #727272;padding:5px 20px px 15px;}
.btn_extend span.txt {padding:0 0 0 7px;}
.btn_extend:hover,
.btn_extend:focus,
.btn_extend.focus,
.btn_extend:active,
.btn_extend.active {color: #fff;background-color: #faa619;border-color: #faa619;}
.btn_extend:active,
.btn_extend.active{background-image: none;}
/*app버튼*/
.btn_app {color: #000;background: #fff ;padding:7px 0 ;margin:0 auto;width:60px;height:62px;border:1px solid #dbdbdb;}
.btn_app span{display:block;position:relative;padding:32px 0 0 0;color:#000;background: #fff url(../images/btn_app.png) 50% 0 no-repeat;}
.btn_app a{color: #f9a11b !important;background: #fff url(../images/btn_app.png) 50% 0 no-repeat;padding:7px 0 ;margin:0 auto;width:60px;height:62px;border:1px solid #dbdbdb;}

/*service버튼*/
.btn_service {color: #000;background: #fff ;padding:7px 0 ;margin:0 auto;width:60px;height:62px;border:1px solid #dbdbdb;}
.btn_service span{display:block;position:relative;padding:32px 0 0 0;color:#000;background: #fff url(../images/btn_service.png) 50% 0 no-repeat;}
.btn_service a{color: #f9a11b !important;background: #fff url(../images/btn_service.png) 50% 0 no-repeat;padding:7px 0 ;margin:0 auto;width:60px;height:62px;border:1px solid #dbdbdb;}
.btn_play {background: #fff url(../images/btn_play.png) 50% 50% no-repeat;border:1px solid  #d8d8d8;padding:0;margin:0;width:30px;height:30px;}
.btn_play a {background: #fff url(../images/btn_play.png) 50% 50% no-repeat;}
.btn_setting {background: #fff url(../images/btn_setting.png) 50% 50% no-repeat;border:1px solid  #d8d8d8;padding:0;margin:0;width:30px;height:30px;}
.btn_bookmark {background: #fff url(../images/btn_bookmark.png) 50% 50% no-repeat;border:1px solid  #d8d8d8;padding:0;margin:0;width:30px;height:30px;}
.notice{background:#fff;border:1px solid #f95a1b;z-index:13;left:0;top:0;padding:10px 20px ;margin:0 0 10px 0;display:block;position:relative;width:100%}
.notice:after{display:block;clear:both;content:''}
.notice h1{font-size:16px;font-weight:bold;line-height:20px;padding:5px 0 5px 0px;margin-right: 10px; display:block;float:left;color:#f95a1b;}
.notice h1 span{top: 3px;}
.notice .txt{display:block;position:relative;float:left;font-size:16px;padding:7px 0 6px 0;line-height:20px;}
.notice button{padding:6px 0 6px 0;}
.nav-tabs {border:1px solid #d8d8d8;background:#fff;}
.nav-tabs > li {float: left;margin-bottom: -1px;}
.nav-tabs > li > a {margin-right: 0px !important;line-height: 15px;border-right: 1px solid #d8d8d8;border-bottom:0px solid #d8d8d8;border-radius:0;background:#fff;color:#000000;font-size:14px;}
.nav-tabs > li > a:hover {border-right:1px solid #d8d8d8;border-top:2px solid #f9745c ;text-decoration:none;background:#fff;color:#000000;}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus {
background-color: #fff;
border-left: 0px solid #d8d8d8;
border-right:1px solid #d8d8d8;
border-top:2px solid #f9745c;
cursor: default;
color:#000;
}
.nav-tabs > li.active > a:hover{
border-right:1px solid #d8d8d8;border-left:0;border-top:2px solid #f9745c;}
.nav-tabs.nav-justified {width: 100%;border-bottom: 1px solid #008dd0;}
.nav-tabs.nav-justified > li {float: none;}
.nav-tabs.nav-justified > li > a {text-align: center;margin-bottom: 5px;}
.nav-tabs.nav-justified > .dropdown .dropdown-menu {top: auto;left: auto;}
.tab-content{display:block;position:relative;border-left:1px solid #d8d8d8; border-right:1px solid #d8d8d8; border-bottom:1px solid #d8d8d8;padding:10px 10px ;background:#fff;}

/*패널*/
.content-box{display:block;position:relative; border-top:2px solid #f9a11b;padding:20px;border-radius:0}
.content-box .ttgroup{display:block;position:relative;padding:0;margin:0;}
.content-box .ttgroup:after{display:block;clear:both;content:''}
.content-box .ttgroup h2{padding:0;margin:0;font-size:18px;color:#000;display:block;position:relative;float:left;font-family:'NanumGothicBoldWeb';font-weight:normal;}
.content-box .ttgroup img{position:relative;right:10px;top:0;float:right}
.content-box .cn_box{display:block;position:relative;padding:0;margin:10px 10px 20px 10px;}
.content-box .cn_box:after{display:block;clear:both;content:''}
.content-box .cn_box .imgbox{display:block;width:245px;height:103px;border:1px solid #c4c4c4;float:left;margin:0 20px 0 0;padding:0 }
.content-box .cn_box .list{display:block;position:relative;float:left;padding:0;margin:0}
.content-box .cn_box .list ul{list-style:none;position:relative;padding:0;width:100%}
.content-box .cn_box .list ul li{font-size:14px;line-height:16px;margin:3px 0 3px}
.content-box .cn_box .list ul li:after{display:block;clear:both;content:''}
.content-box .cn_box .list ul li span.tt{display:block;position:relative;float:left;padding: 0 10px 0 0;font-family:'NanumGothicBoldWeb';font-weight:bold;font-size:14px}
.content-box .cn_box .list ul li span.txt{display:block;position:relative;float:left;padding: 0 10px 0 0;font-family:'NanumGothicBoldWeb';font-weight:normal;font-size:14px}

@media (min-width: 768px) {
	.nav-tabs.nav-justified > li {display: table-cell;width: 1%;}
	.nav-tabs.nav-justified > li > a {margin-bottom: 0;}
}

.nav-tabs.nav-justified > li > a {margin-right: 0;border-radius: 4px;}
.nav-tabs.nav-justified > .active > a,
.nav-tabs.nav-justified > .active > a:hover,
.nav-tabs.nav-justified > .active > a:focus {border: 1px solid #d8d8d8;}

.t1{width:100%;max-width:100%;border:1px solid #d8d8d8;margin-bottom:10px}
.t1 thead tr th{border-right:1px solid #d8d8d8;border-bottom:1px;background:#f8f8fa;color:#656565;text-align:center;font-weight:normal}
.t1 tbody tr td{border-right:1px solid #d8d8d8;vertical-align:middle}
.t1 tbody tr td.tac{text-align:center;}
.t1 tbody tr td.tal{text-align:left;}
.t1 tbody tr td.tar{text-align:right;}
.t1 tbody tr td .txt{font-size:12px;color:#656565}
.t1 tbody tr td .txt p{line-height:15px;padding:2px 0 3px 0; margin: 0 ;display:block;}
.t1 tbody tr td .txt span{margin:0 5px 0 0;}
.t1 tbody tr .error{border:2px solid #f9641b; background:#fff}
.t1 tbody tr td .errortxt{color:#f9641b;line-height:15px;font-size:12px;padding:0;margin:6px 5px 7px 5px;}

@media (min-width: 768px) {
	.nav-tabs.nav-justified > li > a {border-radius: 0}
	.nav-tabs.nav-justified > .active > a,
	.nav-tabs.nav-justified > .active > a:hover,
	.nav-tabs.nav-justified > .active > a:focus {border-bottom-color: #0088dd;}
}
.nav-pills > li {float: left;}
.nav-pills > li > a {border-radius: 0px;}
.nav-pills > li + li {margin-left: 2px;}
.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {color: #ffffff;background-color: #337ab7;}
.nav-stacked > li {float: none;}
.nav-stacked > li + li {margin-top: 2px;margin-left: 0;}

.nav-justified {width: 100%;}
.nav-justified > li {float: none;}
.nav-justified > li > a {text-align: center;margin-bottom: 5px;}
.nav-justified > .dropdown .dropdown-menu {top: auto;left: auto;}
@media (min-width: 768px) {
	.nav-justified > li {display: table-cell;width: 1%;}
	.nav-justified > li > a {margin-bottom: 0;}
}
.nav-tabs-justified {border-bottom: 0;}
.nav-tabs-justified > li > a {margin-right: 0;border-radius: 4px;}
.nav-tabs-justified > .active > a,
.nav-tabs-justified > .active > a:hover,
.nav-tabs-justified > .active > a:focus {border: 1px solid #dddddd;}


@media (min-width: 768px) {
	.nav-tabs-justified > li > a {border-bottom: 1px solid #dddddd;border-radius: 4px 4px 0 0;}
	.nav-tabs-justified > .active > a,
	.nav-tabs-justified > .active > a:hover,
	.nav-tabs-justified > .active > a:focus {border-bottom-color: #ffffff;}
}
.tab-content > .tab-pane {display: none;visibility: hidden;background:#fff;padding:10px;}
.tab-content > .active {display: block;visibility: visible;}
.pr_txt{font-size:14px;line-height:15px;padding:7px 0 8px 0;margin:0 15px;}





/*조회영역*/
.search_box{display:block;position:relative;padding:10px;margin:0 0 20px 0;border:3px solid #dbdbdb;border-top:3px solid #faa619;background:#fff}
.search_box .box_group{display:block;position:relative;margin:0 0 5px 0;}
.search_box .box_group:after{display:block;clear:both;content:''}

.search_box .box_group .label1{display:block;position:relative;padding:7px 15px 8px 0;margin:0;width:80px;float:left;line-height:15px;font-size:14px;text-align:right}

.search_box .box_group .in_group{display:block;position:relative;float:left;margin:0 5px 0 0}


/*footer*/
.footer{color:#757575;font-size:14px;font-family:'NanumGothicBoldWeb';font-weight:normal;margin-top:20px;}
.btg2{margin-top:2px !important}
/* 작은 기기들 (태블릿, 768px 이상) */
@media (max-width: 767px) {
.t1 > .table > tbody > tr > td{ white-space: normal;}

}

.tab-title-box {border: 1px solid #b3b3b3; margin: 0px; margin-top:-1px; padding: 10px; font-size: 15; font-weight:bold;}
.domain-list-box {border: 1px solid #b3b3b3; margin-top:-1px; padding: 10px; padding-left: 20px; font-size: medium;}
.domain-shared-list-box {border: 1px solid #b3b3b3; margin-top:-1px; padding: 10px; padding-left: 20px; font-size: medium;}
.route-list-box {border: 1px solid #b3b3b3; margin-top:-1px; padding-left: 20px; font-size: medium;}
.env-list-box {border: 1px solid #b3b3b3; margin-top:-1px; padding: 10px; padding-left: 10px; font-size: medium;}

.userTab-table {
    display: table;
	margin-top: 10px;
    width: 100%;
}
.userTab-row  {
    display: table-row;
}

.userTab-title-left, .userTab-title-right, .userTab-title-middle {
    display: table-cell;
    border : solid 1px #b3b3b3;
    width: 30%;
    line-height: 30px;
    padding-left: 10px;
    background-color: #e2e3e4;
    font-size: 15px;
    font-weight:bold;
}

.userTab-title-left{
    border-right: 0px;
	text-align: center;
	width: 40%;
}

.userTab-title-right{
    border-left: 0px;
	text-align: center;
}
.userTab-title-middle{
	text-align: center;
	width: 60%;
}


.userTab-content-left, .userTab-content-right, .userTab-content-middle {
    display: table-cell;
    border : solid 1px #b3b3b3;
    border-top: 0px;
    width: 30%;
    padding-left: 10px;
    font-size: 15px;
    text-align:center;
    vertical-align: middle;
}

.userTab-content-left{
    border-right: 0px;
	width: 40%;
}

.userTab-content-right{
    border-left: 0px;
}

.userTab-content-middle{
	width: 60%;
}

.create-userProvided-box{padding: 10px; padding-left: 10px; font-size: 13px; font-weight:bold;}

/*영역생성 클릭시 팝업*/
.createSpace_pop{position:relative; padding:0px 0px;margin:5px;display:none;background:#30323a;text-align:center;}
/*.createSpace_pop .form-inline{margin:0 auto}*/
.createSpace_pop .errortxt{color:#ffffe9;line-height:15px;font-size:11px;padding:5px 0}

/* enable absolute positioning */
.inner-addon {
	position: relative;
}

/* style icon */
.inner-addon .glyphicon {
	padding: 10px;
	pointer-events: none;
}

/* align icon */
.left-addon .glyphicon  { left:  0px;}
.right-addon .glyphicon { right: 40px;}

/* add padding  */
.left-addon input  { padding-left:  0px;}
.right-addon input { padding-right: 40px;}

.form-control-warning {
	display: inline-block;
	width: 100%;
	height: 34px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	font-weight: normal;
}

.form-control-warning:focus {
	border-color: orange;
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(255, 162, 0, 0.51);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(255, 162, 0, 0.51);
}

.status-icon-warning:before {
	content: "\e107";
	color: orange;
	position: relative;
}

.form-control-error {
	display: inline-block;
	width: 100%;
	height: 34px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	font-weight: normal;
}

.form-control-error:focus {
	border-color: red;
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(255, 0, 0, 0.51);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px  rgba(255, 0, 0, 0.51);
}

.status-icon-error:before {
	content: "\e014";
	color: red;
	position: relative;
}

.form-control-ok {
	display: inline-block;
	width: 100%;
	height: 34px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	font-weight: normal;
}
.form-control-ok:focus {
	border-color: darkgreen;
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(0, 100, 0, 0.51);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(0, 100, 0, 0.51);
}

.status-icon-ok:before {
	content: "\e013";
	color: darkgreen;
	position: relative;
}

.scrollbar
{
	float: left;
	height: 0px;
	background: #F5F5F5;
	overflow-y: hidden;
	margin-bottom: 25px;
}


/*
::-webkit-scrollbar {
	display: none;
}
*/

.userTable-spinner
{
	width:50%;
	height: 40px;
	line-height: 40px;
	padding-left: 10px;
	font-size: 15px;
	font-weight:bold;
	color: #a5a5a5;
}

.userTab-content-message{
	margin: 10px;
	line-height: 40px;
	font-size: 15px;
	font-weight:bold;
	color: #a5a5a5;
}