<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.openpaas.paasta.portal.api.mapper.cc.OrgMapper">

    <select id="getOrgsForAdmin" resultType="java.util.HashMap">
        /* OrgMapper.getOrgsForAdmin */
        SELECT
        id AS orgId,
        name AS orgName,
        guid AS orgGuid,
        created_at AS created,
        updated_at AS lastModified,
        billing_enabled AS billingEnabled,
        status AS status
        FROM organizations
    </select>


    <select id="selectOrg" resultType="java.util.HashMap" parameterType="String">
        /* OrgMapper.selectOrg */
        SELECT
        id AS orgId,
        name AS orgName,
        guid AS orgGuid,
        created_at AS created,
        updated_at AS lastModified,
        billing_enabled AS billingEnabled,
        status AS status
        FROM organizations
        WHERE name = #{orgName}
    </select>

</mapper>