<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.openpaas.paasta.portal.api.mapper.cc.SpaceMapper">

    <select id="getSpacesForAdmin" resultType="java.util.HashMap">
        /* SpaceMapper.getSpacesForAdmin */
        SELECT
        id AS spaceId,
        name AS spaceName,
        guid AS spaceGuid,
        organization_id AS orgId,
        created_at AS created,
        updated_at AS lastModified
        FROM spaces
        WHERE organization_id = #{orgId}
    </select>

    <select id="getSpacesInfo" resultType="java.util.HashMap">
        /* SpaceMapper.getSpacesInfo */
        SELECT DISTINCT
        A.id AS spaceId,
        A.name AS spaceName,
        A.guid AS spaceGuid,
        A.organization_id AS orgId,
        A.created_at AS created,
        A.updated_at AS lastModified
        B.name orgName
        FROM spaces A
        inner join organizations B
        on A.organization_id = b.id
        WHERE A.name = #{spaceName}
        AND A.organization_id = #{orgId}
    </select>

    <select id="getSpacesInfoById" resultType="org.openpaas.paasta.portal.api.model.Space">
        /* SpaceMapper.getSpacesInfoById */
        SELECT DISTINCT
        A.id AS spaceId,
        A.name AS spaceName,
        A.guid AS spaceGuid,
        A.organization_id AS orgId,
        A.created_at AS created,
        A.updated_at AS lastModified,
        B.name orgName
        FROM spaces A
        inner join organizations B
        on A.organization_id = b.id
        WHERE A.id = #{spaceId}
    </select>
</mapper>