<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.openpaas.paasta.portal.api.mapper.portal.LoginMapper">

    <resultMap id="appsMap" type="org.openpaas.paasta.portal.api.model.App">
        <result property="id"    column="id" />
        <result property="name"   column="name" />
        <result property="memory" column="memory" />
        <result property="instances" column="instances" />
        <result property="diskQuota" column="disk_quota" />
        <result property="state" column="state" />
        <result property="createdAt" column="created_at" />
        <result property="updatedAt" column="updated_at" />
    </resultMap>


    <select id="getTotalUserCount" resultType="int">
        select count(*) cnt from users
    </select>


    <select id="getListApps" resultMap="appsMap" parameterType="String">
        select * from apps
    </select>


</mapper>

