<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.openpaas.paasta.portal.api.mapper.DocumentsMapper">

    <sql id="commonSearchColumns">
        /* commonSearchColumns */
        "no" AS "no",
        "title" AS "title",
        "user_id" AS "userId",
        "classification" AS "classification",
        "use_yn" AS "useYn",
        "content" AS "content",
        "file_name" as "fileName",
        "file_path" as "filePath",
        "file_size" as "fileSize",
        "created" AT TIME ZONE 'Asia/Seoul' AS "created",
        "lastmodified" AT TIME ZONE 'Asia/Seoul' AS "lastModified"
    </sql>

    <sql id="procSearch">
        /* procSearch */

        <if test="searchKeyword != '' and searchKeyword != null">
            <if test="searchTypeColumn != '' and searchTypeColumn != null">
                <choose>
                    <when test = 'searchTypeColumn == "classification"'>
                        AND (SELECT value FROM code_detail WHERE key = classification AND group_id = 'DOCUMENTS_CLASSIFICATION') LIKE concat('%', #{searchKeyword},'%')
                    </when>
                    <when test = 'searchTypeColumn == "title"'>
                        AND lower(title) LIKE lower(concat('%', #{searchKeyword},'%'))
                    </when>
                    <when test = 'searchTypeColumn == "userid"'>
                        AND lower(user_id) LIKE lower(concat('%', #{searchKeyword},'%'))
                    </when>
                    <when test = "searchTypeColumn == 'ALL'">
                        AND (lower(title) LIKE lower(concat('%', #{searchKeyword},'%')) OR lower(user_id) LIKE lower(concat('%', #{searchKeyword},'%'))
                            OR (SELECT value FROM code_detail WHERE key = classification AND group_id = 'DOCUMENTS_CLASSIFICATION') LIKE concat('%', #{searchKeyword},'%'))
                    </when>
                    <when test = "searchTypeColumn == 'DOCUMENTS'">
                        AND (lower(title) LIKE lower(concat('%',  #{searchKeyword},'%')) OR lower(file_name) LIKE lower(concat('%',  #{searchKeyword},'%'))
                            OR (SELECT value FROM code_detail WHERE key = classification AND group_id = 'DOCUMENTS_CLASSIFICATION') LIKE concat('%', #{searchKeyword},'%'))
                    </when>
                    <otherwise>
                        AND 1=1
                    </otherwise>
                </choose>
            </if>
        </if>

        <if test="searchStartDate != '' and searchStartDate != null">
            AND created >= to_date(#{searchStartDate}, 'YYYY-MM-DD HH24:MI:SS.MS')
        </if>
        <if test="searchEndDate != '' and searchEndDate != null">
            AND to_date(#{searchEndDate}, 'YYYY-MM-DD HH24:MI:SS.MS')+1 >= created
        </if>

        <if test="searchTypeUseYn != '' and searchTypeUseYn != null">
            <choose>
                <when test = 'searchTypeUseYn == "Y" or searchTypeUseYn == "N"'>
                    AND use_yn = #{searchTypeUseYn}
                </when>
                <otherwise>
                    AND 1=1
                </otherwise>
            </choose>
        </if>
    </sql>

  <!--  <sql id="procSearchUser">
        /* procSearch */
        <if test="searchKeyword != '' and searchKeyword != null">
            AND (title LIKE concat('%',  #{searchKeyword},'%') OR file_name LIKE concat('%',  #{searchKeyword},'%')
                  OR (SELECT value FROM code_detail WHERE key = classification AND group_id = 'DOCUMENTS_CLASSIFICATION') LIKE concat('%', #{searchKeyword},'%'))
        </if>

    </sql>
-->


    <select id="getDocumentsList" resultType="org.openpaas.paasta.portal.api.model.Support">
        SELECT
      /*  (row_number() over(order by created )) as rowNum,*/
        (select count(*) from documents where 1=1 <include refid="org.openpaas.paasta.portal.api.mapper.DocumentsMapper.procSearch"/> ) as listLength,
        no, classification, title, user_id AS userId, use_yn AS useYn, file_name as fileName, file_path as filePath, file_size as fileSize, created,
        (SELECT value FROM code_detail WHERE key = classification AND group_id = 'DOCUMENTS_CLASSIFICATION') as classificationValue
        FROM DOCUMENTS
        WHERE 1=1

        <include refid="org.openpaas.paasta.portal.api.mapper.DocumentsMapper.procSearch"/>

        ORDER BY created DESC
        LIMIT 10 offset #{pageOffset}

    </select>

  <!--  <select id="getDocumentsListUser" resultType="org.openpaas.paasta.portal.api.model.Support">
        SELECT
        (row_number() over(order by created )) as rowNum,
        (select count(*) from documents where 1=1 <include refid="org.openpaas.paasta.portal.api.mapper.DocumentsMapper.procSearchUser"/> ) as listLength,
        no, classification, title, file_name as fileName, file_path as filePath, file_size as fileSize, created,
        (SELECT value FROM code_detail WHERE key = classification AND group_id = 'DOCUMENTS_CLASSIFICATION') as classificationValue
        FROM DOCUMENTS
        WHERE 1=1

        <include refid="org.openpaas.paasta.portal.api.mapper.DocumentsMapper.procSearchUser"/>

        ORDER BY created DESC
        LIMIT 10 offset #{pageOffset}


    </select>-->

    <select id="getDocument" resultType="org.openpaas.paasta.portal.api.model.Support">
        SELECT
        <include refid="org.openpaas.paasta.portal.api.mapper.DocumentsMapper.commonSearchColumns"/>,
        (SELECT value FROM code_detail WHERE key = classification AND group_id = 'DOCUMENTS_CLASSIFICATION') as classificationValue

        FROM DOCUMENTS
        WHERE 1=1
         AND NO = #{no}

    </select>

    <insert id="insertDocument">
        INSERT INTO DOCUMENTS (title, user_id, classification, use_yn, content, file_name, file_path, file_size, created, lastmodified)
        values(
            #{title},
            #{userId},
            #{classification},
            #{useYn},
            #{content},
            #{fileName},
            #{filePath},
            #{fileSize},
            now(),
            now()
          );
    </insert>

    <update id="updateDocument" >
        /* Catalog.updateServicePackCatalog */
        UPDATE DOCUMENTS SET
        <if test="title != '' and title != null">
            "title" = #{title},
        </if>
        <if test="userId != '' and userId != null">
            user_id = #{userId},
        </if>
        <if test="classification != '' and classification != null">
            classification = #{classification},
        </if>
        <if test="useYn != '' and useYn != null">
            use_yn = #{useYn},
        </if>
        <if test="content != '' and content != null">
            content = #{content},
        </if>

            file_name = #{fileName},
            file_path = #{filePath},
            file_size = #{fileSize},


        lastModified = now()
        WHERE 1=1
        <if test="no != '' and no != null">
            AND "no" = #{no}
        </if>
    </update>


    <delete id="deleteDocument">
        /* Catalog.deleteBuildPackCatalog */
        DELETE FROM DOCUMENTS
        WHERE "no" = #{no}
    </delete>


</mapper>
