<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.openpaas.paasta.portal.api.mapper.MenuMapper">

    <sql id="commonSearchColumns">
        /* commonSearchColumns */
        m.no AS "no",
        m.no AS "id",
        m.parent_no AS parentNo,
        m.sort_no AS sortNo,
        m.menu_name AS menuName,
        m.menu_name AS "text",
        m.menu_path AS menuPath,
        m.image_path AS imagePath,
        m.open_window_yn AS openWindowYn,
        m.login_yn AS loginYn,
        m.use_yn AS useYn,
        m.description AS description,
        m.user_id AS userId,
        m.created AS created,
        m.lastModified AS lastModified
    </sql>


    <select id="getMenuMaxNoList" resultType="Integer">
        /* Menu.getMenuMaxNoList */
        SELECT MAX(m.no) AS maxNo FROM menu m
    </select>


    <select id="getMenuList" resultType="org.openpaas.paasta.portal.api.model.Menu">
        /* Menu.getMenuList */
        SELECT
            (SELECT COUNT(1) FROM menu m1 WHERE m1.parent_no = m.no) AS childCount,
            <include refid="org.openpaas.paasta.portal.api.mapper.MenuMapper.commonSearchColumns"/>
        FROM menu m
        WHERE 1=1
        <if test="no != '' and no != null">
            AND m.no = #{no}
        </if>
        <if test="parentNo != '' and parentNo != null">
            AND m.parent_no = #{parentNo}
        </if>
        <if test="parentNo == 0">
            AND m.parent_no = 0
        </if>
        <if test="useYn != '' and useYn != null">
            AND m.use_yn = #{useYn}
        </if>
        ORDER BY m.parent_no ASC, m.sort_no ASC, m.no ASC;
    </select>


    <select id="getMenuDetail" resultType="org.openpaas.paasta.portal.api.model.Menu">
        /* Menu.getMenuDetail */
        SELECT
          <include refid="org.openpaas.paasta.portal.api.mapper.MenuMapper.commonSearchColumns"/>
        FROM menu m
        WHERE m.no = #{no}
    </select>


    <insert id="insertMenu">
        /* Menu.insertMenu */
        INSERT INTO menu (
            parent_no,
            sort_no,
            menu_name,
            menu_path,
            image_path,
            open_window_yn,
            login_yn,
            use_yn,
            description,
            user_id,
            created,
            lastmodified)
        VALUES (
            #{parentNo},
            #{sortNo},
            #{menuName},
            #{menuPath},
            #{imagePath},
            #{openWindowYn},
            #{loginYn},
            #{useYn},
            #{description},
            #{userId},
            now(),
            now());
    </insert>


    <update id="updateMenu" >
        /* Menu.updateMenu */
        UPDATE menu SET
            <if test="parentNo != '' and parentNo != null">
                parent_no = #{parentNo},
            </if>
            <if test="parentNo == 0">
                parent_no = 0,
            </if>
            <if test="sortNo != '' and sortNo != null">
                sort_no = #{sortNo},
            </if>
            <if test="menuName != '' and menuName != null">
                menu_name = #{menuName},
            </if>
            <if test="menuPath != '' and menuPath != null">
                menu_path = #{menuPath},
            </if>
            image_path = #{imagePath},
            <if test="openWindowYn != '' and openWindowYn != null">
                open_window_yn = #{openWindowYn},
            </if>
            <if test="loginYn != '' and loginYn != null">
                login_yn = #{loginYn},
            </if>
            <if test="useYn != '' and useYn != null">
                use_yn = #{useYn},
            </if>
            <![CDATA[
                    description = #{description},
                ]]>
            <if test="userId != '' and userId != null">
                user_id = #{userId},
            </if>
            lastModified = now()
        WHERE "no" = #{no}
    </update>


    <delete id="deleteMenu">
        /* Menu.deleteMenu */
        DELETE FROM menu
        WHERE "no" = #{no}
    </delete>

</mapper>

