<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.openpaas.paasta.portal.api.mapper.ServiceMapper">

    <select id="getServiceImageUrl" resultType="string">
        SELECT
              max(thumb_img_path)
        FROM servicepack_category
        WHERE service_name = #{serviceName}
    </select>

</mapper>


