<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.openpaas.paasta.portal.api.mapper.SupportBoardMapper">

    <sql id="commonSearchColumns">
        /* commonSearchColumns */
        "no" AS "no",
        "title" AS "title",
        "user_id" AS "userId",

        "content" AS "content",
        "file_name" as "fileName",
        "file_path" as "filePath",
        "file_size" as "fileSize",

        "created" AT TIME ZONE 'Asia/Seoul' AS "created",
        "lastmodified" AT TIME ZONE 'Asia/Seoul' AS "lastModified",

        "parent_no" as "parentNo"
    </sql>

    <sql id="procSearch">
        /* procSearch */

        <if test="searchKeyword != '' and searchKeyword != null">
            <if test="searchTypeColumn != '' and searchTypeColumn != null">
                <choose>
                    <when test = 'searchTypeColumn == "title"'>
                        AND lower("title") LIKE lower(concat('%', #{searchKeyword},'%'))
                    </when>
                    <when test = 'searchTypeColumn == "userid"'>
                        AND lower(user_id) LIKE lower(concat('%', #{searchKeyword},'%'))
                    </when>
                    <when test = 'searchTypeColumn == "title_content"'>
                        AND (lower(title) LIKE lower(concat('%', #{searchKeyword},'%')) OR lower(content) LIKE lower(concat('%', #{searchKeyword},'%')))
                    </when>
                    <when test = "searchTypeColumn == 'ALL'">
                        AND (lower("title") LIKE lower(concat('%', #{searchKeyword},'%')) OR lower(user_id) LIKE lower(concat('%', #{searchKeyword},'%')) OR lower(content) LIKE lower(concat('%', #{searchKeyword},'%')))
                    </when>
                    <otherwise>
                        AND 1=1
                    </otherwise>
                </choose>
            </if>
        </if>

        <if test="searchStartDate != '' and searchStartDate != null">
            AND created >= to_date(#{searchStartDate}, 'YYYY-MM-DD HH24:MI:SS.MS')
        </if>
        <if test="searchEndDate != '' and searchEndDate != null">
            AND to_date(#{searchEndDate}, 'YYYY-MM-DD HH24:MI:SS.MS')+1 >= created
        </if>

    </sql>

    <select id="getBoardList" resultType="org.openpaas.paasta.portal.api.model.Support">

        WITH RECURSIVE
        search_bom(commentNum, NO, PARENT_NO, GROUP_NO, TITLE, USER_ID, CONTENT, FILE_NAME, FILE_PATH, FILE_SIZE, CREATED, LASTMODIFIED, LEVEL, PATH, CYCLE)
        AS (
        SELECT (select count(*) from board_comment bc where b.no=bc.board_no) as commentNum,
          B.NO, B.PARENT_NO, B.GROUP_NO, B.TITLE, B.USER_ID, B.CONTENT, B.FILE_NAME, B.FILE_PATH, B.FILE_SIZE, B.CREATED, B.LASTMODIFIED, 0, ARRAY [B.NO], false
        FROM BOARD B
        WHERE B.PARENT_NO = -1

        UNION ALL

        SELECT (select count(*) from board_comment bc where b.no=bc.board_no) as commentNum,
          B.NO, B.PARENT_NO, B.GROUP_NO, B.TITLE, B.USER_ID, B.CONTENT, B.FILE_NAME, B.FILE_PATH, B.FILE_SIZE, B.CREATED, B.LASTMODIFIED, LEVEL + 1, PATH || B.NO, B.NO = ANY(PATH)
        FROM BOARD B, search_bom sb
        WHERE B.PARENT_NO = sb.NO AND NOT CYCLE
        )
        SELECT
        (row_number() over(order by GROUP_NO, PATH desc )) as rowNum,
        commentNum,
        (select count(*) from search_bom WHERE 1=1 <include refid="org.openpaas.paasta.portal.api.mapper.SupportBoardMapper.procSearch"/>) as listLength,
        NO,
        PARENT_NO as parentNo,
        GROUP_NO as groupNo,
        TITLE,
        USER_ID as userId,
        CONTENT,
        FILE_NAME as fileName,
        FILE_PATH as filePath,
        FILE_SIZE as fileSize,
        CREATED,
        LASTMODIFIED as lastModified,
        LEVEL,
        PATH
        FROM search_bom

        WHERE 1=1
        <include refid="org.openpaas.paasta.portal.api.mapper.SupportBoardMapper.procSearch"/>

        ORDER BY GROUP_NO DESC, PATH
        LIMIT #{pageLimit} offset #{pageOffset}

    </select>

    <select id="getBoard" resultType="org.openpaas.paasta.portal.api.model.Support">
        SELECT
        <include refid="org.openpaas.paasta.portal.api.mapper.SupportBoardMapper.commonSearchColumns"/>
        FROM Board
        WHERE 1=1
         AND NO = #{no}

    </select>

  <!--  <select id="getBoardCommentNum" resultType="org.openpaas.paasta.portal.api.model.Support">

        select count(*) as commentNum
        from board_comment
        where board_no = #{no}

    </select>-->

    <select id="getBoardCommentList" resultType="org.openpaas.paasta.portal.api.model.Support">

        WITH RECURSIVE
         search_bom(BOARD_NO, NO, PARENT_NO, GROUP_NO, USER_ID, CONTENT,  CREATED, LASTMODIFIED, LEVEL, PATH, CYCLE)
         AS (
               SELECT B.BOARD_NO, B.NO, B.PARENT_NO, B.GROUP_NO, B.USER_ID, B.CONTENT, B.CREATED, B.LASTMODIFIED, 0, ARRAY [B.NO], false
               FROM BOARD_COMMENT B
               WHERE B.PARENT_NO = -1 AND B.BOARD_NO=#{boardNo}

               UNION ALL

              SELECT B.BOARD_NO, B.NO, B.PARENT_NO, B.GROUP_NO, B.USER_ID, B.CONTENT, B.CREATED, B.LASTMODIFIED, LEVEL + 1, PATH || B.NO, B.NO = ANY(PATH)
              FROM BOARD_COMMENT B, search_bom sb
              WHERE B.PARENT_NO = sb.NO AND NOT CYCLE
         )
         SELECT
            BOARD_NO as boardNo,
            NO,
            PARENT_NO as parentNo,
            GROUP_NO as groupNo,
            USER_ID as userId,
            CONTENT,
            CREATED,
            LASTMODIFIED as lastModified,
            LEVEL,
            PATH
         FROM search_bom
         ORDER BY PATH

    </select>


    <insert id="insertBoard">
        INSERT INTO Board (title, user_id, content, file_name, file_path, file_size, created, lastmodified, parent_no, group_no)
        values(
            #{title},
            #{userId},
            #{content},
            #{fileName},
            #{filePath},
            #{fileSize},
            now(),
            now(),
            #{parentNo},
            #{groupNo}
          );
    </insert>

    <update id="setGroupNo" >
        UPDATE Board SET
        group_no = (select no from board order by no desc limit 1)
        where no = (select no from board order by no desc limit 1) and parent_no=-1
    </update>


    <update id="updateBoard" >
        UPDATE Board SET
        <if test="title != '' and title != null">
            "title" = #{title},
        </if>
        <if test="userId != '' and userId != null">
            user_id = #{userId},
        </if>
        <if test="content != '' and content != null">
            content = #{content},
        </if>

            file_name = #{fileName},
            file_path = #{filePath},
            file_size = #{fileSize},

            lastModified = now()

        WHERE 1=1
        <if test="no != '' and no != null">
            AND "no" = #{no}
        </if>
    </update>


    <select id="getReplyNum" resultType="org.openpaas.paasta.portal.api.model.Support">
        select (count(1)) as replyNum from board
        where parent_no = #{no}
    </select>

    <delete id="deleteBoard">
        /* Catalog.deleteBuildPackCatalog */
        DELETE FROM Board
        WHERE
        no = #{no}
    </delete>

    <delete id="deleteAllComments">
        /* Catalog.deleteBuildPackCatalog */
        DELETE FROM Board_comment
        WHERE
        board_no = #{no}
    </delete>




    <insert id="insertBoardComment">
        INSERT INTO BOARD_COMMENT (user_id, content, created, lastmodified, board_no, parent_no, group_no)
        values(

        #{userId},
        #{content},

        now(),
        now(),
        #{boardNo},
        #{parentNo},
        #{groupNo}
        );
    </insert>

    <update id="setCommentGroupNo" >
        UPDATE Board_comment SET
        group_no = (select no from board_comment order by created desc limit 1)
        where no = (select no from board_comment order by created desc limit 1) and parent_no=-1
    </update>

    <update id="updateBoardComment" >
        UPDATE BOARD_COMMENT SET

        <if test="userId != '' and userId != null">
            user_id = #{userId},
        </if>
        <if test="content != '' and content != null">
            content = #{content},
        </if>


        lastModified = now()

        WHERE 1=1
        <if test="no != '' and no != null">
            AND "no" = #{no}
        </if>
    </update>

    <select id="getCommentReplyNum" resultType="org.openpaas.paasta.portal.api.model.Support">
        select (count(1)) as replyNum from board_comment
        where parent_no = #{no}
    </select>
    <delete id="deleteBoardComment">
        /* Catalog.deleteBuildPackCatalog */
        DELETE FROM BOARD_COMMENT
        WHERE
        no = #{no}
    </delete>


</mapper>
