<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.openpaas.paasta.portal.api.mapper.SupportQnAMapper">

    <sql id="commonSearchColumns">
        /* commonSearchColumns */
        "no" AS "no",
        "content" AS "content",
        "file_name" as "fileName",
        "file_path" as "filePath",
        "file_size" as "fileSize",
        "created" AT TIME ZONE 'Asia/Seoul' AS "created",
        "lastmodified" AT TIME ZONE 'Asia/Seoul' AS "lastModified"
    </sql>

    <sql id="procSearch">
        /* procSearch */

        <if test="searchKeyword != '' and searchKeyword != null">
            <if test="searchTypeColumn != '' and searchTypeColumn != null">
                <choose>
                    <when test = 'searchTypeColumn == "classification"'>
                        AND lower("classification") LIKE lower(concat('%', #{searchKeyword},'%'))
                    </when>
                    <when test = 'searchTypeColumn == "title"'>
                        AND lower("title") LIKE lower(concat('%', #{searchKeyword},'%'))
                    </when>
                    <when test = 'searchTypeColumn == "userid"'>
                        AND lower(user_id) LIKE lower(concat('%', #{searchKeyword},'%'))
                    </when>
                    <when test = "searchTypeColumn == 'ALL'">
                        AND (lower("classification") LIKE lower(concat('%', #{searchKeyword},'%')) OR lower("title") LIKE lower(concat('%', #{searchKeyword},'%')) OR lower(user_id) LIKE lower(concat('%', #{searchKeyword},'%')))
                    </when>
                    <otherwise>
                        AND 1=1
                    </otherwise>
                </choose>
            </if>
        </if>

        <if test="searchStartDate != '' and searchStartDate != null">
            AND created >= to_date(#{searchStartDate}, 'YYYY-MM-DD HH24:MI:SS.MS')
        </if>
        <if test="searchEndDate != '' and searchEndDate != null">
            AND to_date(#{searchEndDate}, 'YYYY-MM-DD HH24:MI:SS.MS')+1 >= created
        </if>

        <if test="searchTypeStatus != '' and searchTypeStatus != null">
            <choose>
                <when test = 'searchTypeStatus == "answered" or searchTypeStatus == "waiting" '>
                    AND status = #{searchTypeStatus}
                </when>
                <otherwise>
                    AND 1=1
                </otherwise>
            </choose>
        </if>




    </sql>

    <select id="getQnAList" resultType="org.openpaas.paasta.portal.api.model.Support">
        SELECT
            (row_number() over(order by created )) as rowNum,
            no, title,
            (SELECT value FROM code_detail WHERE key = classification AND group_id = 'QUESTION_CLASSIFICATION') as classificationValue,
            classification,
            created, user_id AS userId, status,
            (SELECT value FROM code_detail WHERE key = status AND group_id = 'QUESTION_STATUS') as statusValue
        FROM question
        WHERE 1=1

        <include refid="org.openpaas.paasta.portal.api.mapper.SupportQnAMapper.procSearch"/>

        ORDER BY created DESC
    </select>

    <select id="getQuestion" resultType="org.openpaas.paasta.portal.api.model.Support">
        SELECT
        <include refid="org.openpaas.paasta.portal.api.mapper.SupportQnAMapper.commonSearchColumns"/>,
        "title" AS "title",
        (SELECT value FROM code_detail WHERE key = classification AND group_id = 'QUESTION_CLASSIFICATION') as classificationValue,
        "classification" AS "classification",
        "user_id" AS "userId",
        "status" AS "status"

        FROM question
        WHERE 1=1
         AND NO = #{no}

    </select>

    <select id="getAnswer" resultType="org.openpaas.paasta.portal.api.model.Support">
        SELECT

        <include refid="org.openpaas.paasta.portal.api.mapper.SupportQnAMapper.commonSearchColumns"/>,
        "question_no" AS "questionNo",
        answerer as answerer

        FROM answer
        WHERE 1=1
        AND question_no = #{questionNo}

    </select>

    <!-- insert answer -->
    <insert id="insertAnswer">

        INSERT INTO ANSWER (content, file_name, file_path, file_size, created, lastmodified, question_no, answerer)
        values(
            #{content},
            #{fileName},
            #{filePath},
            #{fileSize},
            now(),
            now(),
            #{questionNo},
            #{answerer}
        );
    </insert>

    <!-- insert/delete answer: update question status -->
    <update id="updateQuestionStatus" >
        UPDATE QUESTION SET
        <if test="status != '' and status != null">
            "status" = #{status},
        </if>

        lastModified = now()

        WHERE 1=1
        <if test="questionNo != '' and questionNo != null">
            AND "no" = #{questionNo}
        </if>
    </update>

    <!-- delete answer -->
    <delete id="deleteAnswer">
        /* Catalog.deleteBuildPackCatalog */
        DELETE FROM ANSWER
        WHERE
        question_no = #{questionNo}
    </delete>

    <!-- update answer -->
    <update id="updateAnswer" >
        UPDATE ANSWER SET
        <if test="content != '' and content != null">
            "content" = #{content},
        </if>

        "file_name" = #{fileName},
        "file_path" = #{filePath},
        "file_size" = #{fileSize},

        answerer = #{answerer},

        lastModified = now()

        WHERE 1=1
        <if test="questionNo != '' and questionNo != null">
            AND question_no = #{questionNo}
        </if>
    </update>


    <select id="getMyQuestionsInMyAccount" resultType="org.openpaas.paasta.portal.api.model.Support" parameterType="String">
        /* SupportQnA.getMyQuestionsInMyAccount */
        SELECT
            q.no AS "no",
            q.title AS title,
            q.user_id AS userId,
            q.content AS content,
            q.status AS status,
            q.file_path AS filePath,
            q.created AS created,
            q.lastmodified AS lastModified
        FROM question q
        WHERE q.user_id = #{userId}
        ORDER BY q.lastmodified DESC
        LIMIT 3 OFFSET 0
    </select>


    <select id="getMyQuestionList" resultType="org.openpaas.paasta.portal.api.model.Support">
        /* SupportQnA.getMyQuestionList */
        SELECT
            q.no AS "no",
            q.title AS title,
            q.classification AS classification,
            (SELECT cd.value FROM code_detail cd WHERE cd.key = q.classification AND cd.group_id = 'QUESTION_CLASSIFICATION') AS classificationValue,
            q.user_id AS userId,
            q.content AS content,
            q.cell_phone AS cellPhone,
            q.status AS status,
            (SELECT cd.value FROM code_detail cd WHERE cd.key = q.status AND cd.group_id = 'QUESTION_STATUS') AS statusValue,
            q.file_name AS fileName,
            q.file_path AS filePath,
            q.file_size AS fileSize,

            (SELECT
            COUNT(1)
            FROM question
            WHERE 1=1
            <if test="userId != '' and userId != null">
                AND user_id = #{userId}
            </if>
            <if test="searchKeyword != '' and searchKeyword != null">
                AND lower(title) LIKE lower(concat('%', #{searchKeyword},'%'))
            </if>
            ) AS totalCount,

            q.created AS created,
            q.lastmodified AS lastModified
        FROM question q
        WHERE 1=1
        <if test="no != '' and no != null">
            AND q.no = #{no}
        </if>
        <if test="userId != '' and userId != null">
            AND q.user_id = #{userId}
        </if>
        <if test="searchKeyword != '' and searchKeyword != null">
            AND lower(q.title) LIKE lower(concat('%', #{searchKeyword},'%'))
        </if>

        ORDER BY q.created DESC
        LIMIT #{pageSize} OFFSET #{pageNo}
    </select>


    <insert id="insertMyQuestion" useGeneratedKeys="true" keyProperty="question.no">
        /* SupportQnA.insertMyQuestion */
        INSERT INTO question (
            "title",
            classification,
            user_id,
            content,
            cell_phone,
            status,
            file_name,
            file_path,
            file_size,
            created,
            lastmodified)
        VALUES (
            #{title},
            #{classification},
            #{userId},
            #{content},
            #{cellPhone},
            #{status},
            #{fileName},
            #{filePath},
            #{fileSize},
            now(),
            now());
    </insert>


    <update id="updateMyQuestion" >
        /* SupportQnA.updateMyQuestion */
        UPDATE question SET
            <if test="title != '' and title != null">
                title = #{title},
            </if>
            <if test="classification != '' and classification != null">
                classification = #{classification},
            </if>
            <if test="content != '' and content != null">
                <![CDATA[
                        content = #{content},
                    ]]>
            </if>
            cell_phone = #{cellPhone},
            <if test="status != '' and status != null">
                status = #{status},
            </if>
            file_name = #{fileName},
            file_path = #{filePath},
            file_size = #{fileSize},
            lastModified = now()
        WHERE "no" = #{no}
    </update>


    <delete id="deleteMyQuestion">
        /* SupportQnA.deleteMyQuestion */
        DELETE FROM question
        WHERE "no" = #{no}
    </delete>

</mapper>
