<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.openpaas.paasta.portal.api.mapper.UserManagementMapper">

    <select id="getUserInfoList" resultType="org.openpaas.paasta.portal.api.model.UserManagement">
        /* UserManagement.getUserInfoList */
        SELECT
            ud.user_id AS userId,
            ud.status AS status,
            (SELECT cd.value FROM code_detail cd WHERE cd.key = ud.status AND cd.group_id = 'USER_STATUS') AS statusValue,

            (SELECT
                COUNT(1)
            FROM user_detail ud2
            WHERE 1=1
            <if test="userId != '' and userId != null">
                AND ud2.user_id = #{userId}
            </if>
            <if test="searchKeyword != '' and searchKeyword != null">
                AND (LOWER(ud2.user_name) LIKE concat('%', #{searchKeyword},'%') OR LOWER(ud2.user_id) LIKE concat('%', #{searchKeyword},'%'))
            </if>
            ) AS totalCount,

            COALESCE(ud.tell_phone, '-') AS tellPhone,
            COALESCE(ud.zip_code, '-') AS zipCode,
            COALESCE(ud.address, '-') AS address,
            COALESCE(ud.address_detail, '-') AS addressDetail,
            COALESCE(ud.user_name, '-') AS userName,
            COALESCE(ud.admin_yn, '-') AS adminYn,
            COALESCE(ud.refresh_token, '-') AS refreshToken
        FROM user_detail ud
        WHERE 1=1
        <if test="userId != '' and userId != null">
            AND ud.user_id = #{userId}
        </if>
        <if test="searchKeyword != '' and searchKeyword != null">
            AND (LOWER(ud.user_name) LIKE concat('%', #{searchKeyword},'%') OR LOWER(ud.user_id) LIKE concat('%', #{searchKeyword},'%'))
        </if>
        ORDER BY ud.user_id ASC
        LIMIT #{pageSize} OFFSET #{pageNo}
    </select>


    <update id="updateOperatingAuthority" >
        /* UserManagement.updateOperatingAuthority */
        UPDATE user_detail SET
            <if test="status != '' and status != null">
                status = #{status},
            </if>
            <if test="tellPhone != '' and tellPhone != null">
                tell_phone = #{tellPhone},
            </if>
            <if test="zipCode != '' and zipCode != null">
                zip_code = #{zipCode},
            </if>
            <if test="address != '' and address != null">
                address = #{address},
            </if>
            <if test="addressDetail != '' and addressDetail != null">
                address_detail = #{addressDetail},
            </if>
            <if test="userName != '' and userName != null">
                user_name = #{userName},
            </if>
            <if test="adminYn != '' and adminYn != null">
                admin_yn = #{adminYn}
            </if>
        WHERE user_id = #{userId}
    </update>

</mapper>
