<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.openpaas.paasta.portal.api.mapper.AppAutoScaleModalMapper">

    <select id="getAppAutoScaleList" resultType="org.openpaas.paasta.portal.api.model.AppAutoScale">
        /** org.openpaas.paasta.portal.api.mapper.AppAutoScaleModalMapper.getAppAutoScaleList */
        select
        no "no"
        , guid "guid"
        , org "org"
        , space "space"
        , app "app"
        , instance_min_cnt "instanceMinCnt"
        , instance_max_cnt "instanceMaxCnt"
        , cpu_threshold_min_per "cpuThresholdMinPer"
        , cpu_threshold_max_per "cpuThresholdMaxPer"
        , check_time_sec "checkTimeSec"
        , memory_min_size "memoryMinSize"
        , memory_max_size "memoryMaxSize"
        , auto_increase_yn "autoIncreaseYn"
        , auto_decrease_yn "autoDecreaseYn"
        from auto_scaling_config
        ORDER By no DESC

    </select>


    <select id="getAppAutoScaleInfo" resultType="map">
        /** org.openpaas.paasta.portal.api.mapper.AppAutoScaleModalMapper.getAppAutoScaleInfo */
        select
        no "no"
        , guid "guid"
        , org "org"
        , space "space"
        , app "app"
        , instance_min_cnt "instanceMinCnt"
        , instance_max_cnt "instanceMaxCnt"
        , cpu_threshold_min_per "cpuThresholdMinPer"
        , cpu_threshold_max_per "cpuThresholdMaxPer"
        , check_time_sec "checkTimeSec"
        , memory_min_size "memoryMinSize"
        , memory_max_size "memoryMaxSize"
        , auto_increase_yn "autoIncreaseYn"
        , auto_decrease_yn "autoDecreaseYn"
        from auto_scaling_config
        where guid = #{guid}
        ORDER By no DESC
    </select>


    <insert id="insertAppAutoScale">
    /** org.openpaas.paasta.portal.api.mapper.AppAutoScaleModalMapper.insertAppAutoScale */
    <selectKey keyProperty="no" resultType="int" order="BEFORE">
        select COALESCE(max(no),0)+1 as no from auto_scaling_config
    </selectKey>
        insert into auto_scaling_config(
        no
        , guid
        , org
        , space
        , app
        , instance_min_cnt
        , instance_max_cnt
        , cpu_threshold_min_per
        , cpu_threshold_max_per
        , check_time_sec
        , memory_min_size
        , memory_max_size
        , auto_increase_yn
        , auto_decrease_yn
        )
        values (
        #{no}
        ,#{guid}
        ,#{org}
        ,#{space}
        ,#{app}
        ,#{instanceMinCnt}
        ,#{instanceMaxCnt}
        ,#{cpuThresholdMinPer}
        ,#{cpuThresholdMaxPer}
        ,#{checkTimeSec}
        ,#{memoryMinSize}
        ,#{memoryMaxSize}
        ,#{autoIncreaseYn}
        ,#{autoDecreaseYn}
        );

    </insert>


    <update id="updateAppAutoScale" >
        /** org.openpaas.paasta.portal.api.mapper.AppAutoScaleModalMapper.updateAppAutoScale */
        update auto_scaling_config
        SET
        <if test="null != guid and guid != ''">
            guid = #{guid}
        </if>

        <if test = "null != instanceMinCnt and instanceMinCnt != '' and instanceMinCnt != '0' ">
            ,instance_min_cnt = #{instanceMinCnt}
        </if>
        <if test = "null != instanceMaxCnt and instanceMaxCnt != '' and instanceMaxCnt != '0'">
            ,instance_max_cnt = #{instanceMaxCnt}
        </if>
        <if test = "null != cpuThresholdMinPer and cpuThresholdMinPer != '' and cpuThresholdMinPer != '0.0'">
            ,cpu_threshold_min_per = #{cpuThresholdMinPer}
        </if>
        <if test = "null != cpuThresholdMaxPer and cpuThresholdMaxPer != ''  and cpuThresholdMaxPer != '0.0'">
            ,cpu_threshold_max_per = #{cpuThresholdMaxPer}
        </if>
        <if test = "null != checkTimeSec and checkTimeSec != '' and checkTimeSec != '0'">
            ,check_time_sec = #{checkTimeSec}
        </if>
        <if test="null != memoryMinSize and memoryMinSize != '' and memoryMinSize != '0'">
            ,memory_min_size = #{memoryMinSize}
        </if>
        <if test="null != memoryMaxSize and memoryMaxSize != '' and memoryMaxSize != '0'">
            ,memory_max_size = #{memoryMaxSize}
        </if>
        <if test="null != autoIncreaseYn and autoIncreaseYn != ''">
            ,auto_increase_yn = #{autoIncreaseYn}
        </if>
        <if test="null != autoDecreaseYn and autoDecreaseYn != ''">
            ,auto_decrease_yn = #{autoDecreaseYn}
        </if>
        WHERE 1=1
        <if test = "null != guid and guid != ''">
            AND guid = #{guid}
        </if>
    </update>


    <delete id="deleteAppAutoScale">
        /** org.openpaas.paasta.portal.api.mapper.AppAutoScaleModalMapper.deleteAppAutoScale */
        delete from auto_scaling_config
        where guid = #{guid}
    </delete>

</mapper>

