<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.openpaas.paasta.portal.api.mapper.SupportBoardMapper">

    <sql id="procSearch">
        /* procSearch */
        <if test="searchKeyword != '' and searchKeyword != null">
            <if test="searchTypeColumn != '' and searchTypeColumn != null">
                <choose>
                    <when test = 'searchTypeColumn == "title"'>
                        AND "title" LIKE concat('%', #{searchKeyword},'%')
                    </when>
                    <when test = 'searchTypeColumn == "userid"'>
                        AND user_id LIKE concat('%', #{searchKeyword},'%')
                    </when>
                    <when test = 'searchTypeColumn == "title_content"'>
                        AND (title LIKE concat('%', #{searchKeyword},'%') OR content LIKE concat('%', #{searchKeyword},'%'))
                    </when>
                    <when test = "searchTypeColumn == 'ALL'">
                        AND ("title" LIKE concat('%', #{searchKeyword},'%') OR user_id LIKE concat('%', #{searchKeyword},'%') OR content LIKE concat('%', #{searchKeyword},'%'))
                    </when>
                    <otherwise>
                        AND 1=1
                    </otherwise>
                </choose>
            </if>
        </if>

        <if test="searchStartDate != '' and searchStartDate != null">
            AND created >= STR_TO_DATE(#{searchStartDate}, '%Y/%m/%d %h:%i:%s')
        </if>
        <if test="searchEndDate != '' and searchEndDate != null">
            AND ADDDATE(STR_TO_DATE(#{searchEndDate}, '%Y/%m/%d'), INTERVAL 1 day) > created
        </if>

    </sql>


    <select id="getBoardList" resultType="org.openpaas.paasta.portal.api.model.Support">
        /* SupportBoard.getBoardList */

        /* select list */
        SELECT
            NO,
            PARENT_NO as parentNo,
            GROUP_NO as groupNo,
            TITLE,
            USER_ID as userId,
            CONTENT,
            FILE_NAME as fileName,
            FILE_PATH as filePath,
            FILE_SIZE as fileSize,
            CREATED,
            LASTMODIFIED as lastModified,
            (select count(*) from portaldb.board_comment bc where b.no=bc.board_no) as commentNum,
            (select count(*) from portaldb.board WHERE 1=1 <include refid="org.openpaas.paasta.portal.api.mapper.SupportBoardMapper.procSearch"/>) as listLength,
            portaldb.GetParent(no), portaldb.GetAncestry(no) as path, portaldb.GetLevel(no) as level
        FROM portaldb.board b
        WHERE 1=1
        <include refid="org.openpaas.paasta.portal.api.mapper.SupportBoardMapper.procSearch"/>
        order by group_no desc, path

        LIMIT #{pageLimit} offset #{pageOffset}


        /* function GetParent */
        /*DELIMITER $$
        DROP FUNCTION IF EXISTS portaldb.`GetParent` $$
        CREATE FUNCTION portaldb.`GetParent` (GivenNo INT) RETURNS INT
        DETERMINISTIC
        BEGIN
        DECLARE rv INT;

        SELECT IFNULL(parent_no, -10) INTO rv FROM
        (SELECT parent_no FROM portaldb.board WHERE no = GivenNo) A;
        RETURN rv;
        END $$
        DELIMITER ;*/

        /* function GetAncestry */
/*        DELIMITER $$
        DROP FUNCTION IF EXISTS portaldb.`GetAncestry` $$
        CREATE FUNCTION portaldb.`GetAncestry` (GivenNo INT) RETURNS VARCHAR(1024)
        DETERMINISTIC
        BEGIN
        DECLARE rv VARCHAR(1024);
        DECLARE cm CHAR(1);
        DECLARE ch INT;

        SET rv = '';
        SET cm = '';
        SET ch = GivenNo;

        WHILE ch > 0 DO
        SELECT IFNULL(parent_no,-1) INTO ch FROM
        (SELECT parent_no FROM portaldb.board WHERE no = ch) A;
        IF ch > 0 THEN
        SET rv = CONCAT(ch,cm,rv);
        SET cm = ',';
        END IF;
        END WHILE;
        SET rv = CONCAT(rv,cm,givenNo);
        RETURN rv;
        END $$
        DELIMITER ;*/

        /* function GetLevel */
/*        DELIMITER $$
        DROP FUNCTION IF EXISTS portaldb.`GetLevel` $$
        CREATE FUNCTION portaldb.`GetLevel` (GivenNo INT) RETURNS INT
        DETERMINISTIC
        BEGIN
        DECLARE cnt int;
        DECLARE ch INT;

        set cnt = 0;
        SET ch = GivenNo;

        WHILE ch > 0 DO
        SELECT IFNULL(parent_no,-1) INTO ch FROM
        (SELECT parent_no FROM portaldb.board WHERE no = ch) A;
        IF ch > 0 THEN
        set cnt = cnt+1;
        END IF;
        END WHILE;

        RETURN cnt;
        END $$
        DELIMITER ;*/

        /* execute command denied ~~ error 발생시
          참고: GRANT all privileges ON `DB_NAME`.* to `USER_NAME`@`EXCUTE_TARGET_URL(%:all)` identified by 'USER_PASSWORD';
        */


    </select>


    <select id="getBoard" resultType="org.openpaas.paasta.portal.api.model.Support">
        /* SupportBoard.getBoard */
        SELECT
            NO,
            title as title,
            user_id as userId,
            content as content,
            file_name as fileName,
            file_path as filePath,
            file_size as fileSize,
            created as created,
            lastmodified  as lastModified,
            parent_no as parentNo

        FROM portaldb.board
        WHERE 1=1
         AND no = #{no}
    </select>


    <select id="getBoardCommentList" resultType="org.openpaas.paasta.portal.api.model.Support">
        /* SupportBoard.getBoardCommentList */

        SELECT
            BOARD_NO as boardNo,
            NO as no,
            PARENT_NO as parentNo,
            GROUP_NO as groupNo,
            USER_ID as userId,
            CONTENT,
            CREATED,
            LASTMODIFIED as lastModified,
            portaldb.GetAncestryComment(no) as path, portaldb.GetLevelComment(no) as level
        FROM portaldb.board_comment b
        where board_no = #{boardNo}
        order by path;


        /* function GetAncestryComment*/
        /*DELIMITER $$
        DROP FUNCTION IF EXISTS portaldb.`GetAncestryComment` $$
        CREATE FUNCTION portaldb.`GetAncestryComment` (GivenNo INT) RETURNS VARCHAR(1024)
        DETERMINISTIC
        BEGIN
            DECLARE rv VARCHAR(1024);
            DECLARE cm CHAR(1);
            DECLARE ch INT;

            SET rv = '';
            SET cm = '';
            SET ch = GivenNo;

            WHILE ch > 0 DO
                SELECT IFNULL(parent_no,-1) INTO ch FROM
                (SELECT parent_no FROM portaldb.board_comment WHERE no = ch) A;
                IF ch > 0 THEN
                    SET rv = CONCAT(ch,cm,rv);
                    SET cm = ',';
                END IF;
            END WHILE;
            SET rv = CONCAT(rv,cm,givenNo);
            RETURN rv;
        END $$
        DELIMITER ;*/

        /* function GetLevelComment */
        /*DELIMITER $$
        DROP FUNCTION IF EXISTS portaldb.`GetLevelComment` $$
        CREATE FUNCTION portaldb.`GetLevelComment` (GivenNo INT) RETURNS INT
        DETERMINISTIC
        BEGIN
            DECLARE cnt int;
            DECLARE ch INT;

            set cnt = 0;
            SET ch = GivenNo;

            WHILE ch > 0 DO
                SELECT IFNULL(parent_no,-1) INTO ch FROM
                (SELECT parent_no FROM portaldb.board_comment WHERE no = ch) A;
                IF ch > 0 THEN
                    set cnt = cnt+1;
                END IF;
            END WHILE;

            RETURN cnt;
        END $$
        DELIMITER ;*/

    </select>


    <insert id="insertBoard">
        /* SupportBoard.insertBoard */
        INSERT INTO portaldb.board (title, user_id, content, file_name, file_path, file_size, created, lastmodified, parent_no, group_no)
        values(
            #{title},
            #{userId},
            #{content},
            #{fileName},
            #{filePath},
            #{fileSize},
            now(),
            now(),
            #{parentNo},
            #{groupNo}
          );
    </insert>


    <update id="setGroupNo" >
        /* SupportBoard.setGroupNo */
        UPDATE portaldb.board SET
        group_no = (select no from (select no from portaldb.board order by created desc limit 1) tmpBoard )
        where no = (select no from (select no from portaldb.board order by created desc limit 1) tmpBoard )  and parent_no=-1

    </update>


    <update id="updateBoard" >
        /* SupportBoard.updateBoard */
        UPDATE portaldb.board SET
        <if test="title != '' and title != null">
            title = #{title},
        </if>
        <if test="userId != '' and userId != null">
            user_id = #{userId},
        </if>
        <if test="content != '' and content != null">
            content = #{content},
        </if>

            file_name = #{fileName},
            file_path = #{filePath},
            file_size = #{fileSize},

            lastModified = now()

        WHERE 1=1
        <if test="no != '' and no != null">
            AND no = #{no}
        </if>
    </update>


    <select id="getReplyNum" resultType="org.openpaas.paasta.portal.api.model.Support">
        /* SupportBoard.getReplyNum */
        select (count(1)) as replyNum from portaldb.board
        where parent_no = #{no}
    </select>


    <delete id="deleteBoard">
        /* SupportBoard.deleteBoard */
        DELETE FROM portaldb.board
        WHERE
        no = #{no}
    </delete>


    <delete id="deleteAllComments">
        /* SupportBoard.deleteAllComments */
        DELETE FROM portaldb.board_comment
        WHERE
        board_no = #{no}
    </delete>


    <insert id="insertBoardComment">
        /* SupportBoard.insertBoardComment */
        INSERT INTO portaldb.board_comment (user_id, content, created, lastmodified, board_no, parent_no, group_no)
        values(
        #{userId},
        #{content},
        now(),
        now(),
        #{boardNo},
        #{parentNo},
        #{groupNo}
        );
    </insert>


    <update id="setCommentGroupNo" >
        /* SupportBoard.setCommentGroupNo */

        UPDATE portaldb.board_comment SET
        group_no = (select no from (select no from portaldb.board_comment order by no desc limit 1) tmpBoardComment )
        where no = (select no from (select no from portaldb.board_comment order by no desc limit 1) tmpBoardComment )  and parent_no=-1

    </update>


    <update id="updateBoardComment" >
        /* SupportBoard.updateBoardComment */
        UPDATE portaldb.board_comment SET

        <if test="userId != '' and userId != null">
            user_id = #{userId},
        </if>
        <if test="content != '' and content != null">
            content = #{content},
        </if>

        lastModified = now()

        WHERE 1=1
        <if test="no != '' and no != null">
            AND no = #{no}
        </if>
    </update>


    <select id="getCommentReplyNum" resultType="org.openpaas.paasta.portal.api.model.Support">
        /* SupportBoard.getCommentReplyNum */
        select (count(1)) as replyNum from portaldb.board_comment
        where parent_no = #{no}
    </select>


    <delete id="deleteBoardComment">
        /* SupportBoard.deleteBoardComment */
        DELETE FROM portaldb.board_comment
        WHERE no = #{no}
    </delete>

</mapper>
